##############################################
###   Dependencies for Takeout Inspector   ###
###                                        ###
### To install, run:                       ###
###      $ pip install -r requirements.txt ###
###                                        ###
##############################################

## Random name generator ##
names >= 0.3.0, < 1.0

## Plotly graphing library ##
plotly >= 1.12.9, < 2.0

## World cloud generator ##
wordcloud >= 1.2.1, < 2.0
